// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pink: #E5E5E5;
$pink-gradient: linear-gradient(to top, #ff65a5 1%, #ff8076);
$purple-gradient: linear-gradient(to top, #645aff, #926cff 51%, #936cff 51%, #9f7cff 69%, #916bff 97%, #d5beff 100%, #a573ff);


