// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

// Define fonts for body and headers
$body-font: "Roboto", "sans-serif";
$headers-font: "Nunito", "sans-serif";

/* Titles/H3 */

.H3 {
font-family: Nunito;
font-style: normal;
font-weight: 800;
font-size: 35px;
line-height: 207.9%;
/* identical to box height, or 73px */
letter-spacing: 6px;
text-transform: uppercase;
color: #121016;
text-align: center;
}



// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";



