<p><button id='btnStart'>START RECORDING</button></p>
<button id='btnStop'>STOP RECORDING</button>

<video controls></video>
<video id="vid2" controls></video>
<%= javascript_include_tag 'videoRecorder' %>

<button type="button" class="btn">IT'S GOOD. UPLOAD IT.</button>
