<button class="purple-button-sm m-1"><%= link_to "All talent", users_path %></button>
<% $tags.each do |tag| %>
  <button class="grey-button-sm active m-1"><%= link_to tag, tagged_path(tag: tag) %></button>
<% end %>