<h2>Categories</h2>
<button class="purple-button-md"><%= link_to "All talent", users_path %></button>
<% $tags.each do |tag| %>
  <button class="grey-button-md"><%= link_to tag, tagged_path(tag: tag) %></button>
<% end %>