<div class="col-md-12">
  <div class="row">
    <div class="col-md-8 offset-2">
      <%= render 'search' %>
    </div>
  </div>
  <div =class="row align-items-start">
    <div class="col-md-2">
      <%= render 'filter' %>
    </div>
    <div class="card-container col-md-10">
      <%= render 'stars' %>
    </div>
  </div>
</div>
<!-- <div class="user-card">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div> -->
<!-- </div> -->