<div class="col-md-12">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-7">
      <%= render 'search' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= render 'filter' %>
    </div>
    <div class="card-container col-md-10">
      <%= render 'stars' %>
    </div>
  </div>
</div>