

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Star Shoutouts!</h1>
    <p>Book personalized video shoutouts from your favorite people.</p>
    <%= link_to "Browse our talent", users_path, class: "btn btn-primary"  %>
  </div>
</div>


<h3>Latest shoutouts</h3>
<h1>This is the Landing page</h1>
<h1>Star Shoutout!</h1>
<p>Book personalized video shoutouts from your favorite celebrities</p>
<button class="purple-button-lg"><%= link_to "Browse our talent", users_path %></button>

<h1>Latest shoutouts</h1>

<p>sample videos</p>


<footer>This is the footer</footer>
