<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/esmeberder/image/upload/v1564560751/Banner_gni2ex.png);">
  <div class="container">
    <h1>Star Shoutout!</h1>
    <p>Book personalized video shoutouts from your favorite people.</p>
    <button class="purple-button-lg"><%= link_to "Browse our talent", users_path %></button>
  </div>
</div>
<!-- <div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <h3>Latest shoutouts</h3>
      <p>sample videos</p>
    </div>
  </div>
</div> -->
</div>
