
<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Star Shoutout</h1>
        <p class="lead mb-0">Book personalized video shoutouts from your favorite people.
        </p><br><br>
        <button class="purple-button-lg"><%= link_to "Browse our talent", users_path %></button>
      </div>
    </div>
  </div>
</header>








<!--
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/esmeberder/image/upload/v1564560751/Banner_gni2ex.png);">
  <div class="container">
    <h1>Star Shoutout!</h1>
    <p>Book personalized video shoutouts from your favorite people.</p>
    <button class="purple-button-lg"><%= link_to "Browse our talent", users_path %></button>
  </div>
</div>
</div>
 -->


<!-- <div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <h3>Latest shoutouts</h3>
      <p>sample videos</p>
    </div>
  </div>
</div> -->

