.purple-button-lg{
  border-radius: 6px;
  width: 288px;
  height: 46.56px;
  color:white;
  background-image: $purple-gradient;
}

.purple-button-lg a {
  color: white;
}

.purple-button-sm {
  border-radius: 6px;
  width: 130px;
  height: 43px;
  color:white;
  background-image: $purple-gradient;
  font-size: 14px;
}

.purple-button-sm a {
  color: white;
}

.purple-button-md {
  border-radius: 6px;
  width: 240px;
  height: 48px;
  color: white;
  background-image: $purple-gradient;
}

.purple-button-md a {
  color: white;
}

.pink-button {
  border-radius: 6px;
  width: 148px;
  height: 46.56px;
  color:white;
  background-image: $pink-gradient;

}

.pink-button a {
  color: white;
}

.grey-button-md {
  border-radius: 6px;
  width: 148px;
  height: 46.56px;
  color: black;
  background-image: white;
}

.grey-button-md a {
  color:black
}

