// .card-container {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 16px;
// }
.user-card {
  margin:0px auto;
  width: 304px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 20px;
}

.user-card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.user-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.user-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.user-card .user-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.profile-card{
  border-radius:20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.profile-card img{
  object-fit: cover;
  height: 230px;
  width: 250px;
  border-radius:20px;
  padding:10px;
}

.col-md-12 .row{
  align-items: center;
}

.booking-info-card{
  border-radius:20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin:30px auto;
  padding:20px;
  width: 800px;
}

.col-12 .row{
  margin:30px auto;
}



